
table#board {
	border: 1px solid black;
  margin: auto;
}

td, tr {
  border: 1px solid black;
	width: 50px;
	height: 50px;
}

#table {
  margin: auto;
	width: 500px;
	/*border: 1px solid black;*/
	margin-top: 5%;
}

.mouth {
  border: 4px ridge black;
}

.mouth-hover {
  border: 4px ridge #6FA177;
}

#pieces {
  /*border: 1px solid black;*/
  margin-left: calc(-15px + 50%);
  position: relative;
  margin-top: 20%;
  width: 34px;
}

/*Piece Style*/
#redStack {

}

#blueStack {

}

.redPiece {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #955251;
  box-shadow: 1px 1px 1px 1px gray;
  border: 2px ridge #CF7270;
}

.bluePiece {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #899FAE;
  box-shadow: 1px 1px 1px 1px gray;
  border: 2px ridge #B3CFE3;
}


/*Title Style*/
#title {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 3.75em;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
#title:before {
  position: relative;
  display: block;
  content: '';
  width: 435px;
  height: 3px;
  top: 44px;
  left: -4px;
  background-color: black;
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
#title:hover {
  cursor: pointer;
  letter-spacing: 20px;
  color: #6FA177;
}
#title:hover:before {
  width: 515px;
}
